.eye-open {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  background: url("images/eye-open.svg") no-repeat;
  background-size: contain;
}

.eye-close {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  background: url("images/eye-close.svg") no-repeat;
  background-size: contain;
}

button.shwpd {
  display: inline-block;
  margin-top: 0;
  margin-left: -2em;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background-position: center;
}

#edit-pass {
  display: inline-block;
}
