.eye-open {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-top: 2px;
  background: url("images/eye-open.svg") no-repeat;
  background-size: 20px;
}

.eye-close {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-top: 2px;
  background: url("images/eye-close.svg") no-repeat;
  background-size: 20px;
}
